@using Blazored.Toast
@using Blazored.Toast.Services

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RawDataWebapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RawDataWebapp.styles.css" asp-append-version="true" />
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1030;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .center-text {
            text-align: center;
        }
    </style>
    @RenderSection("CustomHead", required: false)
</head>
<body>
    <header>
        @{
            var pageTitle = ViewData["Title"] ?? "Default Title";
        }
        <h1 class="neon-green-gradient-text">@pageTitle</h1>
        <nav>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/WNBA">WNBA</a></li>
                <li><a asp-page="/NBA">NBA</a></li>
                <li><a asp-page="/Baseball">Baseball</a></li>
                <li><a asp-page="/Search"> Global Search</a></li>
            </ul>
        </nav>
        @RenderSection("Header", required: false)
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Footer", required: false)
    @await RenderSectionAsync("Scripts", required: false)

    <BlazoredToasts Position="ToastPosition.BottomRight" Timeout="10" IconType="IconType.FontAwesome" SuccessIcon="fa fa-thumbs-up" />

    <footer>
        <p>© @DateTime.Now.Year RawData Sports</p>
    </footer>
</body>

</html>
